<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UrlSettings.BaseUrl" value=""/>
    <add key="UrlSettings.Username" value=""/>
    <add key="UrlSettings.Password" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
